html {
    scroll-behavior: smooth;
}


body{
    margin: 0px;
    padding: 0px;
}


.emergency_num_top{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E1DD;
    color: #14191F;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    gap: 10px;

}

.emergency_num_top > p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.emergency_contact_text{
    text-align: center;
}

.emNumLink{
    color: inherit;
    font-size: 24px;
    text-decoration: underline;

}


.Navbar{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    background-color: #14191F;
}

.Navbar_logo_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_img{
    width: 70px;
    padding-left: 20px;
    height: auto;    
}

.logo_img_text{
    height: 50px;
    padding-left: 10px;
    width: auto;
}

.Navbar-UL{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 0px;
    list-style: none;
    gap: 15px;
    white-space: nowrap;
}

.Navbar-UL a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: inherit;
}

.Navbar-UL > li{
    display: flex;
    align-items: center;
    align-self: flex-end;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;

}

.Navbar-UL > li:hover{
    background-color: #E0E1DD;
    color: #14191F;
}


.hero{
    display: flex;
    flex-direction: row;
    background-image: url("/imgs/stock-img.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-color: #787878;
    background-blend-mode: multiply;
    padding-bottom: 15vh;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
}

.left_hero_section{
    width: 60vw;
    height: auto;
    font-size: 36px;

}

.hero_title{
    margin-top: 5vh;
    margin-bottom: 0vh;
}

.hero_p{
    padding: 0px;
    margin: 0px;
}

.contact-button{
    margin: 0px;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration:none;
    font-size: 24px;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.contact-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    }


.services_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .service_title{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
} */


.services_container{
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;

}

.card {
    /* Add shadows to create the "card" effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */


.card_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    width: 99%;
    text-align: center;
}

.card_top1{
    background-color: #FF6600;
}
.card_top2{
    background-color: #3498DB;
}
.card_top3{
    background-color: #B4BACA;
}
.card_top4{
    background-color: #7B68EE;
}


.card-img {
    padding-top: 15px;
    border-radius: 5px 5px 0 0;
    height: 100px;
    width: auto;
}

.card-title{
    font-family: 'Oswald', sans-serif;
}

.card-text > p{
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 2px 16px;
}


/** Contact Section */

.contact_section{
    padding-top: 20px;
    background-color: gainsboro;
}

/* .contact_title{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    color: whitesmoke;
} */

.contact_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.contact_title{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-align: center;
}

.contact_block{
    width: 20%;
    font-family: 'Gothic A1', sans-serif;
    border-radius: 4px;
    color: #14191F;

    text-align: center;
}

.contact_block a{
    color: #14191F;
    display: block;
    text-decoration: underline;
    margin-top: 10px ;

}

.contact_divider {
    border-left: 2px solid #bbb;
    border-radius: 5px;
    
  }

.address_container{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    color: #14191F;
}


/*? FOR MOBILE */
@media screen and (max-width: 600px) {
    .Navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .Navbar_logo_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo_img_text{
        padding-top: 10px;
    }

    .left_hero_section{
        width: max-content;
    }

    .hero_title{
        font-size: 32px;
    }

    .hero_p{
        font-size: 24px;
    }

    .contact-button{
        font-size: 20px;
    }


    .services_container{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 90%;
    }

    .services_container{
        gap: 25px;
    }

    .contact_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_block{
        width: 50vw;
    }

    .contact_divider {
        margin: 20px;
        border-left: 50vw solid #bbb;
        border-radius: 5px;
      }
  }