
body{
    margin: 0px;
    padding: 0px;
}


.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_title{
    font-size: 42px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.buttons_div{
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.btn{    
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #14191F;
    text-decoration: none;
}

.btn_text{
    flex-grow: 1;
    text-align: center;
}

.heat_button{
    border: 2px solid #ff9650;

}

.dot {
    align-self: center;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


.heat_button .dot {
    background-color: #ff9650;

}

.cold_button{
    border : 2px solid #65c1ff;
}

.cold_button .dot{
    background-color: #65c1ff;
}

.ac_button{
    border: 2px solid #7dee89;
}

.ac_button .dot{
    background-color: #7dee89;
}

.installation_button{
    border: 2px solid #c5c5c5;
}

.installation_button .dot{
    background-color: #c5c5c5;
}

.serv_description{
    font-family: Helvetica, sans-serif;
    font-size: large;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.detail_section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chauff_section{
    border: 2px solid #ff9650;
    border-radius: 20px;
    background-color:rgb(255, 217, 191);

}

.chauff_section .desc_title {
    text-decoration-color: #ff9650;
}

.refr_section{
    border: 2px solid #65c1ff;
    border-radius: 20px;
    background-color:#a8dcff;
}

.refr_section .desc_title{
    text-decoration-color: #65c1ff;
}

.clim_section{
    border: 2px solid #7dee89;
    border-radius: 20px;
    background-color:#d7fddb;
}

.clim_section .desc_title{
    text-decoration-color:#7dee89;
}


.install_section{
    border: 2px solid #c5c5c5;
    border-radius: 20px;
    background-color:#ececec;
}

.install_section .desc_title{
    text-decoration-color: #c5c5c5;
}

.detail_section > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.detail_section img {
    max-width: 50vW;
    max-height: auto;
    border-radius: 10px;
}

.desc_title{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    text-decoration: underline;

}



/* REFERENCES */

.references{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;

}

.ref_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

}

.ref_item{
    display: flex;
    flex-direction: row;
    width: 90vw;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: #ececec;
    font-family: Helvetica, sans-serif;
    font-size: 24px;

}

.ref_img{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ref_img > img {
    object-fit: contain;
    width: 30vw;
    height: auto;
    border-radius: 5px;
}



.partenaires{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.part_img{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.part_img_item{
    object-fit: contain;
    width: 300px;
    height: auto;

}


@media screen and (max-width: 600px) {
    .buttons_div{
        flex-direction: column;
        gap: 2vh;

    }

    .detail_section > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .detail_section img {
        max-width: 80vw;
        height: auto;
        border-radius: 10px;
    }

    .desc_title{
        text-align: center;
    }

    .ref_item{
        flex-direction: column;
        text-align: center;
    }

    .part_img{
        flex-direction: column;
    }

    .part_img_item{
        max-width: 200px;
        max-height: auto;
    }


}